{% extends "layout.html" %}

{% block body %}

    <div class="alert alert-info" role="alert">
        Welcome to Bluemoon Finance!
    </div>
    <div class="alert alert-success" role="alert">
        The site is currently under construction. Please come back later.
    </div>
    <div style="text-align: center;">
        <button type="button" class="btn btn-warning" onclick="window.location.href='/login';">Log In</button>
        <button type="button" class="btn btn-warning" onclick="window.location.href='/signup';">Sign Up</button>
    </div>

{% endblock %}